In [287]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = requests.get("https://en.wikipedia.org/wiki/ICC_ODI_Championship")
soup = BeautifulSoup(url.text)
wiki_table = soup.find('table',{'class':'wikitable'})
table_th = wiki_table.findAll('th')
table_td = wiki_table.findAll('td')
th = [x.text for x in table_th]
td = [x.text for x in table_td]
td.pop(-1)
td.pop(-1)
df = pd.DataFrame()
df['Team'] = td[0::2][::2]
df['Matches'] = [int(x) for x in td[1::2][::2]]
df['Points'] = [int(i.replace(',','')) for i in td[2::2][::2]]
df['Rating'] = [int(x) for x in td[3::2][::2]]

In [288]:
url_wiki = requests.get("https://en.wikipedia.org/wiki/ICC_Test_Championship")
soup = BeautifulSoup(url_wiki.text)
table = soup.find('table',{'class':'wikitable'})
table_td = table.findAll('td')
td = [x.text for x in table_td]
for i in range(50,39,-1):
    td.pop(i)
data = pd.DataFrame()
data['Team'] = [str(x) for x in td[0::2][::2]]
data['Matches'] = [int(x) for x in td[1::2][::2]]
data['Points'] = [int(i.replace(',','')) for i in td[2::2][::2]]
data['Rating'] = [int(x) for x in td[3::2][::2]]

In [341]:
url_t = requests.get("https://en.wikipedia.org/wiki/Template:ICC_T20I_Championship_rankings")
soup = BeautifulSoup(url_t.text)
table_t = soup.find('table',{'class':'wikitable'})
td_data = table_t.findAll('td')
td = [x.text for x in td_data]
td.pop(-1)
td.pop(-1)
dat = pd.DataFrame()
dat['Team'] = [str(x) for x in td[0::2][::2]]
dat['Matches'] = [int(x) for x in td[1::2][::2]]
dat['Points'] = [int(i.replace(',','')) for i in td[2::2][::2]]
dat['Rating'] = [int(x) for x in td[3::2][::2]]

In [348]:
final = pd.merge(result,dat,on='Team')

In [375]:
f_data = pd.DataFrame()
f_data['Team'] = final['Team']
f_data['Matches'] = final['Matches_x']+final['Matches_y']+final['Matches']
f_data['Points'] = final['Points_x']+final['Points_y']+final['Points']
f_data['Ratings'] = round(f_data['Points']/f_data['Matches'])
f_data.set_index('Team',inplace=True)

In [376]:
f_data

               Matches  Points  Ratings
Team
 India             107   16573    155.0
 New Zealand        72   10332    144.0
 South Africa       82   11601    141.0
 England            94   13288    141.0
 Australia          88   12453    142.0
 Sri Lanka          98   10821    110.0
 Pakistan           94   13474    143.0
 West Indies        89   10150    114.0
 Bangladesh         76    8578    113.0
 Zimbabwe           48    3479     72.0